# Git
.gitattributes

# Jupyter Notebooks
.ipynb_checkpoints

# Project tree
archives
data/*
venv/*
configs/batch

# PyCharm
*.pyc
**/*.pyc
.idea/workspace.xml
.idea

# Keep the folder
!data/.gitkeep
!venv/.gitkeep
